@import "./scss/color.scss";
@import "./scss/layout.scss";

/* 改变主题色变量 */
$--color-primary: $primaryColor;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
@import "~nprogress/nprogress.css";

@font-face {
  // font-family: "DIN-regular";
  // src: url("assets/fonts/DIN-Regular.otf");
}

@font-face {
  // font-family: "DIN-bold";
  // src: url("assets/fonts/DIN-Bold.otf");
}

#nprogress {
  position: absolute;
  z-index: 30000;

  .bar {
    background: #45a8cc;
    height: 4px;
  }

  .spinner {
    display: none;
  }
}

// loading styles
.el-loading-text {
  font-weight: bold;
  color: #3f4647 !important;
}

/* component style (you should add component snippets to live template) */
.color-checkbox {
  display: inline-block;
  content: '';
  width: 14px;
  height: 14px;
  background-color: #19191f;
  border-radius: 2px;
  transition: box-shadow .3s ease-in-out;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 0 0 0 2px #625f67;
  }

  &::after {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 1px;
    position: absolute;
    left: 3px;
    top: 3px;
    transition: background-color .3s ease-in-out;
  }

  &.checked {
    &.negative::after {
      background-color: #6eecb9;
    }

    &.positive::after {
      background-color: #ff6c75;
    }
  }
}
// .multi-select {
  ::-webkit-scrollbar {
    width: 4px;
    height: 0rem;
  }
  
  // /* Track */
  ::-webkit-scrollbar-track {
  
  }
  
  // // /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #e5e6ee;
    border-radius: 0.3125rem;
    margin-right: 4px;
  }
  
  // // /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(17, 52, 65, 0.3);    
  }
  
  ::-webkit-scrollbar-corner {
    background: #e6ecee;
  }
// }
/* width */
